@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
      "Segoe UI Emoji";
    background-color: #fcfcfb;
    color: #1a1a1a;
  }

  h1,
  h2,
  h3,
  .serif {
    font-family: Lora, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }
}


